<div class="surface-ground" [@fadeAnimation]>
  <div class="flex flex-wrap justify-content-center">
    <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
      <div class="flex align-items-center justify-content-between mb-5">
        <span class="text-2xl font-medium text-900">Forgot Password</span>
      </div>

      <div class="error" *ngIf="showError">
          <div class="ml-2 flex align-items-center">  {{errorMessage}}</div>
      </div>

      <div class="success" *ngIf="showSuccess">
          <div class="ml-2 flex align-items-center">  {{successMessage}}</div>
      </div>

      <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
        <div class="mb-3 ">
          <label for="email" class="block text-900 font-medium mb-2">Email:</label>
          <div class="">
            <input type="text" id="email" formControlName="email" class="form-control md:col-6 col-12" pInputText />
            <small class="ng-dirty ng-invalid mt-2 block" *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</small>
          </div>

          <button type="submit" class="mt-4" pButton pRipple label="Submit" [disabled]="!forgotPasswordForm.valid || submitted"></button>
        </div>
        <br>
      </form>
    </div>
  </div>
</div>
